<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.logic.system.persistence.read.CreditCardReadMapper" >
  <resultMap id="BaseResultMap" type="com.logic.system.domain.CreditCard" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bank" property="bank" jdbcType="VARCHAR" />
    <result column="cad_number" property="cadNumber" jdbcType="VARCHAR" />
    <result column="expire_year" property="expireYear" jdbcType="VARCHAR" />
    <result column="expire_month" property="expireMonth" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="cvn" property="cvn" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="reserved_phone" property="reservedPhone" jdbcType="VARCHAR" />
    <result column="sms_code" property="smsCode" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="created_dtm" property="createdDtm" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="INTEGER" />
    <result column="last_modified_dtm" property="lastModifiedDtm" jdbcType="TIMESTAMP" />
    <result column="last_modified_by" property="lastModifiedBy" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bank, cad_number, expire_year, expire_month, name, cvn, status, reserved_phone, 
    sms_code, version, created_dtm, created_by, last_modified_dtm, last_modified_by, 
    deleted
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from system_credit_card
    where id = #{id,jdbcType=INTEGER}
  </select>
</mapper>
