<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.logic.system.persistence.write.AddressWriteMapper" >

  <delete id="deleteByPrimaryKey" parameterType="com.logic.system.domain.Address" >
    update system_address set deleted = 1,
    version = version+1,
    last_modified_dtm = #{lastModifiedDtm,jdbcType=TIMESTAMP},
    last_modified_by = #{lastModifiedBy,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert databaseId="mysql" id="insertSelective" parameterType="com.logic.system.domain.Address" >
     <selectKey keyProperty="id" order="AFTER"  
            resultType="java.lang.Integer">  
            SELECT LAST_INSERT_ID()  
     </selectKey>  
    insert into system_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>    
      <if test="contactName != null">
        contact_name,
      </if>
      <if test="contactPhone != null">
        contact_phone,
      </if>
      <if test="contactEmail != null">
        contact_email,
      </if>
      <if test="addressAlias != null">
        address_alias,
      </if>
      <if test="positions != null" >
        positions,
      </if>
      <if test="addressLine1 != null" >
        address_line_1,
      </if>
      <if test="addressLine2 != null" >
        address_line_2,
      </if>
      <if test="parkName != null" >
        park_name,
      </if>
      <if test="county != null" >
        county,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="zipCode != null" >
        zip_code,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="baiduLatitude != null" >
        baidu_latitude,
      </if>
      <if test="baiduLongitude != null" >
        baidu_longitude,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="createdDtm != null" >
        created_dtm,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastModifiedDtm != null" >
        last_modified_dtm,
      </if>
      <if test="lastModifiedBy != null" >
        last_modified_by,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>      
      <if test="contactName != null">
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null">
        #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="addressAlias != null">
        #{addressAlias,jdbcType=VARCHAR},
      </if>
      <if test="positions != null" >
        #{positions,jdbcType=VARCHAR},
      </if>
      <if test="addressLine1 != null" >
        #{addressLine1,jdbcType=VARCHAR},
      </if>
      <if test="addressLine2 != null" >
        #{addressLine2,jdbcType=VARCHAR},
      </if>
      <if test="parkName != null" >
        #{parkName,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="baiduLatitude != null" >
        #{baiduLatitude,jdbcType=DECIMAL},
      </if>
      <if test="baiduLongitude != null" >
        #{baiduLongitude,jdbcType=DECIMAL},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createdDtm != null" >
        #{createdDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="lastModifiedDtm != null" >
        #{lastModifiedDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedBy != null" >
        #{lastModifiedBy,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.logic.system.domain.Address">
    update system_address
    <set>
      <if test="contactName != null">
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null">
        contact_email = #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="addressAlias != null">
        address_alias = #{addressAlias,jdbcType=VARCHAR},
      </if>
      <if test="positions != null">
        positions = #{positions,jdbcType=VARCHAR},
      </if>
      <if test="addressLine1 != null">
        address_line_1 = #{addressLine1,jdbcType=VARCHAR},
      </if>
      <if test="addressLine2 != null">
        address_line_2 = #{addressLine2,jdbcType=VARCHAR},
      </if>
      <if test="parkName != null">
        park_name = #{parkName,jdbcType=VARCHAR},
      </if>
      <if test="county != null">
        county = #{county,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null">
        zip_code = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="baiduLatitude != null">
        baidu_latitude = #{baiduLatitude,jdbcType=DECIMAL},
      </if>
      <if test="baiduLongitude != null">
        baidu_longitude = #{baiduLongitude,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="createdDtm != null">
        created_dtm = #{createdDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="lastModifiedDtm != null">
        last_modified_dtm = #{lastModifiedDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedBy != null">
        last_modified_by = #{lastModifiedBy,jdbcType=INTEGER},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <insert databaseId="oracle" id="insertSelective" parameterType="com.logic.system.domain.Address" >
     <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      	SELECT s_system_address.NextVal FROM DUAL
    </selectKey>
    insert into system_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="contactName != null">
        contact_name,
      </if>
      <if test="contactPhone != null">
        contact_phone,
      </if>
      <if test="contactEmail != null">
        contact_email,
      </if>
      <if test="addressAlias != null">
        address_alias,
      </if>
      <if test="positions != null" >
        positions,
      </if>
      <if test="addressLine1 != null" >
        address_line_1,
      </if>
      <if test="addressLine2 != null" >
        address_line_2,
      </if>
      <if test="parkName != null" >
        park_name,
      </if>
      <if test="county != null" >
        county,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="zipCode != null" >
        zip_code,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="baiduLatitude != null" >
        baidu_latitude,
      </if>
      <if test="baiduLongitude != null" >
        baidu_longitude,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="createdDtm != null" >
        created_dtm,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastModifiedDtm != null" >
        last_modified_dtm,
      </if>
      <if test="lastModifiedBy != null" >
        last_modified_by,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="contactName != null">
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null">
        #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="addressAlias != null">
        #{addressAlias,jdbcType=VARCHAR},
      </if>
      <if test="positions != null" >
        #{positions,jdbcType=VARCHAR},
      </if>
      <if test="addressLine1 != null" >
        #{addressLine1,jdbcType=VARCHAR},
      </if>
      <if test="addressLine2 != null" >
        #{addressLine2,jdbcType=VARCHAR},
      </if>
      <if test="parkName != null" >
        #{parkName,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="baiduLatitude != null" >
        #{baiduLatitude,jdbcType=DECIMAL},
      </if>
      <if test="baiduLongitude != null" >
        #{baiduLongitude,jdbcType=DECIMAL},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createdDtm != null" >
        #{createdDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="lastModifiedDtm != null" >
        #{lastModifiedDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedBy != null" >
        #{lastModifiedBy,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  
</mapper>
