<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.logic.system.persistence.write.FormStepWriteMapper" >
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update system_form_step
    set deleted = 1
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert databaseId="mysql" id="insertSelective" parameterType="com.logic.system.domain.FormStep" >
    insert into system_form_step
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="seq != null" >
        seq,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="formId != null" >
        form_id,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="createdDtm != null" >
        created_dtm,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastModifiedDtm != null" >
        last_modified_dtm,
      </if>
      <if test="lastModifiedBy != null" >
        last_modified_by,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="seq != null" >
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="formId != null" >
        #{formId,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createdDtm != null" >
        #{createdDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="lastModifiedDtm != null" >
        #{lastModifiedDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedBy != null" >
        #{lastModifiedBy,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  
  <insert databaseId="oracle" id="insertSelective" parameterType="com.logic.system.domain.FormStep" >
  	<selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT s_system_form_step.NextVal FROM DUAL
    </selectKey>
    insert into system_form_step
    <trim prefix="(" suffix=")" suffixOverrides="," >
        id,
      <if test="seq != null" >
        seq,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="formId != null" >
        form_id,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="createdDtm != null" >
        created_dtm,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastModifiedDtm != null" >
        last_modified_dtm,
      </if>
      <if test="lastModifiedBy != null" >
        last_modified_by,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{id,jdbcType=INTEGER},
      <if test="seq != null" >
        #{seq,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="formId != null" >
        #{formId,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createdDtm != null" >
        #{createdDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="lastModifiedDtm != null" >
        #{lastModifiedDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedBy != null" >
        #{lastModifiedBy,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.logic.system.domain.FormStep" >
    update system_form_step
    <set >
      <if test="seq != null" >
        seq = #{seq,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="formId != null" >
        form_id = #{formId,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="createdDtm != null" >
        created_dtm = #{createdDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="lastModifiedDtm != null" >
        last_modified_dtm = #{lastModifiedDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedBy != null" >
        last_modified_by = #{lastModifiedBy,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>
