<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.logic.system.persistence.write.LogWriteMapper" >
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from system_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert databaseId="oracle" id="insertSelective" parameterType="com.logic.system.domain.Log" >
    insert into system_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="levels != null" >
        levels,
      </if>
      <if test="classInfo != null" >
        class_info,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="createdDtm != null" >
        created_dtm,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastModifiedDtm != null" >
        last_modified_dtm,
      </if>
      <if test="lastModifiedBy != null" >
        last_modified_by,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="levels != null" >
        #{levels,jdbcType=VARCHAR},
      </if>
      <if test="classInfo != null" >
        #{classInfo,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createdDtm != null" >
        #{createdDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="lastModifiedDtm != null" >
        #{lastModifiedDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedBy != null" >
        #{lastModifiedBy,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  
  
  <insert databaseId="mysql" id="insertSelective" parameterType="com.logic.system.domain.Log" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into system_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null">
		id,
	  </if>
      <if test="org_id != null" >
        org_id,
      </if>
      <if test="other_1 != null" >
        other_1,
      </if>   
      <if test="other_2 != null" >
        other_2,
      </if>  
      <if test="other_3 != null" >
        other_3,
      </if>                 
      <if test="ip != null" >
        ip,
      </if>
      <if test="levels != null" >
        levels,
      </if>
      <if test="classInfo != null" >
        class_info,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="createdDtm != null" >
        created_dtm,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastModifiedDtm != null" >
        last_modified_dtm,
      </if>
      <if test="lastModifiedBy != null" >
        last_modified_by,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null">
		#{id,jdbcType=INTEGER},
	  </if>
      <if test="org_id != null" >
        #{org_id,jdbcType=INTEGER},
      </if>
      <if test="other_1 != null" >
        #{other_1,jdbcType=INTEGER},
      </if>
      <if test="other_2 != null" >
        #{other_2,jdbcType=INTEGER},
      </if>
      <if test="other_3 != null" >
        #{other_3,jdbcType=INTEGER},
      </if>                  
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="levels != null" >
        #{levels,jdbcType=VARCHAR},
      </if>
      <if test="classInfo != null" >
        #{classInfo,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createdDtm != null" >
        #{createdDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="lastModifiedDtm != null" >
        #{lastModifiedDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedBy != null" >
        #{lastModifiedBy,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>
