<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.logic.system.persistence.write.OrgProfileWriteMapper">
	<resultMap id="BaseResultMap" type="com.logic.system.domain.OrgProfile">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="org_id" property="orgId" jdbcType="INTEGER" />
		<result column="org_type" property="orgType" jdbcType="VARCHAR" />
		<result column="license_no" property="licenseNo" jdbcType="VARCHAR" />
		<result column="license_image" property="licenseImage"
			jdbcType="INTEGER" />
		<result column="website_url" property="websiteUrl" jdbcType="VARCHAR" />
		<result column="contact_personal_info_id" property="contactPersonalInfoId"
			jdbcType="INTEGER" />
		<result column="capitical_account_name" property="capiticalAccountName"
			jdbcType="VARCHAR" />
		<result column="captical_account_location" property="capticalAccountLocation"
			jdbcType="VARCHAR" />
		<result column="captical_account_bank_name" property="capticalAccountBankName"
			jdbcType="VARCHAR" />
		<result column="captical_account_no" property="capticalAccountNo"
			jdbcType="VARCHAR" />
		<result column="comments" property="comments" jdbcType="VARCHAR" />
		<result column="ics_merchant_code" property="icsMerchantCode"
			jdbcType="VARCHAR" />
		<result column="ics_capitical_account_id" property="icsCapiticalAccountId"
			jdbcType="VARCHAR" />
		<result column="ics_md5_key" property="icsMd5Key" jdbcType="VARCHAR" />
		<result column="ics_des3_key" property="icsDes3Key" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="created_dtm" property="createdDtm" jdbcType="TIMESTAMP" />
		<result column="created_by" property="createdBy" jdbcType="INTEGER" />
		<result column="last_modified_dtm" property="lastModifiedDtm"
			jdbcType="TIMESTAMP" />
		<result column="last_modified_by" property="lastModifiedBy"
			jdbcType="INTEGER" />
		<result column="deleted" property="deleted" jdbcType="SMALLINT" />
	</resultMap>

	<delete id="deleteByPrimaryKey" parameterType="com.logic.system.domain.OrgProfile">
		update
		system_org_profile set deleted = 1,
		version = version+1,
		last_modified_dtm =
		#{lastModifiedDtm,jdbcType=TIMESTAMP},
		last_modified_by =
		#{lastModifiedBy,jdbcType=INTEGER}
		where org_id =
		#{orgId,jdbcType=INTEGER}
	</delete>

	<insert id="insertSelective" parameterType="com.logic.system.domain.OrgProfile">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		insert into system_org_profile
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="orgId != null">
				org_id,
			</if>
			<if test="orgType != null">
				org_type,
			</if>
			<if test="licenseNo != null">
				license_no,
			</if>
			<if test="licenseImage != null">
				license_image,
			</if>
			<if test="websiteUrl != null">
				website_url,
			</if>
			<if test="contactPersonalInfoId != null">
				contact_personal_info_id,
			</if>
			<if test="capiticalAccountName != null">
				capitical_account_name,
			</if>
			<if test="capticalAccountLocation != null">
				captical_account_location,
			</if>
			<if test="capticalAccountBankName != null">
				captical_account_bank_name,
			</if>
			<if test="capticalAccountNo != null">
				captical_account_no,
			</if>

			<if test="comments != null">
				comments,
			</if>
			<if test="icsMerchantCode != null">
				ics_merchant_code,
			</if>
			<if test="icsCapiticalAccountId != null">
				ics_capitical_account_id,
			</if>
			<if test="icsMd5Key != null">
				ics_md5_key,
			</if>
			<if test="icsDes3Key != null">
				ics_des3_key,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="createdDtm != null">
				created_dtm,
			</if>
			<if test="createdBy != null">
				created_by,
			</if>
			<if test="lastModifiedDtm != null">
				last_modified_dtm,
			</if>
			<if test="lastModifiedBy != null">
				last_modified_by,
			</if>
			<if test="deleted != null">
				deleted,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="orgId != null">
				#{orgId,jdbcType=INTEGER},
			</if>
			<if test="orgType != null">
				#{orgType,jdbcType=VARCHAR},
			</if>
			<if test="licenseNo != null">
				#{licenseNo,jdbcType=VARCHAR},
			</if>
			<if test="licenseImage != null">
				#{licenseImage,jdbcType=INTEGER},
			</if>
			<if test="websiteUrl != null">
				#{websiteUrl,jdbcType=VARCHAR},
			</if>
			<if test="contactPersonalInfoId != null">
				#{contactPersonalInfoId,jdbcType=INTEGER},
			</if>
			<if test="capiticalAccountName != null">
				#{capiticalAccountName,jdbcType=VARCHAR},
			</if>
			<if test="capticalAccountLocation != null">
				#{capticalAccountLocation,jdbcType=VARCHAR},
			</if>
			<if test="capticalAccountBankName != null">
				#{capticalAccountBankName,jdbcType=VARCHAR},
			</if>
			<if test="capticalAccountNo != null">
				#{capticalAccountNo,jdbcType=VARCHAR},
			</if>
			<if test="comments != null">
				#{comments,jdbcType=VARCHAR},
			</if>
			<if test="icsMerchantCode != null">
				#{icsMerchantCode,jdbcType=VARCHAR},
			</if>
			<if test="icsCapiticalAccountId != null">
				#{icsCapiticalAccountId,jdbcType=VARCHAR},
			</if>
			<if test="icsMd5Key != null">
				#{icsMd5Key,jdbcType=VARCHAR},
			</if>
			<if test="icsDes3Key != null">
				#{icsDes3Key,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				#{version,jdbcType=INTEGER},
			</if>
			<if test="createdDtm != null">
				#{createdDtm,jdbcType=TIMESTAMP},
			</if>
			<if test="createdBy != null">
				#{createdBy,jdbcType=INTEGER},
			</if>
			<if test="lastModifiedDtm != null">
				#{lastModifiedDtm,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModifiedBy != null">
				#{lastModifiedBy,jdbcType=INTEGER},
			</if>
			<if test="deleted != null">
				#{deleted,jdbcType=SMALLINT},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.logic.system.domain.OrgProfile">
		update system_org_profile
		<set>
			<if test="orgId != null">
				org_id = #{orgId,jdbcType=INTEGER},
			</if>
			<if test="orgType != null">
				org_type = #{orgType,jdbcType=VARCHAR},
			</if>
			<if test="licenseNo != null">
				license_no = #{licenseNo,jdbcType=VARCHAR},
			</if>
			<if test="licenseImage != null">
				license_image = #{licenseImage,jdbcType=INTEGER},
			</if>
			<if test="websiteUrl != null">
				website_url = #{websiteUrl,jdbcType=VARCHAR},
			</if>
			<if test="contactPersonalInfoId != null">
				contact_personal_info_id =
				#{contactPersonalInfoId,jdbcType=INTEGER},
			</if>
			<if test="capiticalAccountName != null">
				capitical_account_name =#{capiticalAccountName,jdbcType=VARCHAR},
			</if>
			<if test="capticalAccountLocation != null">
				captical_account_location =#{capticalAccountLocation,jdbcType=VARCHAR},
			</if>
			<if test="capticalAccountBankName != null">
				captical_account_bank_name =#{capticalAccountBankName,jdbcType=VARCHAR},
			</if>
			<if test="capticalAccountNo != null">
				captical_account_no =#{capticalAccountNo,jdbcType=VARCHAR},
			</if>
			
			<if test="comments != null">
				comments = #{comments,jdbcType=VARCHAR},
			</if>
			<if test="icsMerchantCode != null">
				ics_merchant_code = #{icsMerchantCode,jdbcType=VARCHAR},
			</if>
			<if test="icsCapiticalAccountId != null">
				ics_capitical_account_id =
				#{icsCapiticalAccountId,jdbcType=VARCHAR},
			</if>
			<if test="icsMd5Key != null">
				ics_md5_key = #{icsMd5Key,jdbcType=VARCHAR},
			</if>
			<if test="icsDes3Key != null">
				ics_des3_key = #{icsDes3Key,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				version = #{version,jdbcType=INTEGER},
			</if>
			<if test="createdDtm != null">
				created_dtm = #{createdDtm,jdbcType=TIMESTAMP},
			</if>
			<if test="createdBy != null">
				created_by = #{createdBy,jdbcType=INTEGER},
			</if>
			<if test="lastModifiedDtm != null">
				last_modified_dtm =
				#{lastModifiedDtm,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModifiedBy != null">
				last_modified_by = #{lastModifiedBy,jdbcType=INTEGER},
			</if>
			<if test="deleted != null">
				deleted = #{deleted,jdbcType=SMALLINT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>