<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.logic.system.persistence.write.ProcessWriteMapper" >
  <update id="updateJbpmProperty" parameterType="java.util.Map">
    update jbpm4_property set
    	version_ = version_ + 1,
    	value_ = #{startDeploypropId,jdbcType=VARCHAR}
  </update>
</mapper>
