<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.logic.system.persistence.write.UserWriteMapper" >
  
  <insert databaseId="mysql" id="insertSelective" parameterType="com.logic.system.domain.User" >
     <selectKey keyProperty="id" order="AFTER"  
            resultType="java.lang.Integer">  
            SELECT LAST_INSERT_ID()  
     </selectKey>  
    insert into system_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="loginId != null" >
        login_id,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="pwdExpiredDate != null" >
        pwd_expired_date,
      </if>
      <if test="disabled != null" >
        disabled,
      </if>
      <if test="locked != null" >
        locked,
      </if>
      <if test="defaultLocale != null" >
        default_locale,
      </if>
      <if test="defaultTimezone != null" >
        DEFAULT_TIMEZONE,
      </if>
      <if test="systemic != null" >
        systemic,
      </if>
      <if test="personalInfoId != null" >
        personal_info_id,
      </if>
      
      <if test="version != null" >
        version,
      </if>
      <if test="createdDtm != null" >
        created_dtm,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastModifiedDtm != null" >
        last_modified_dtm,
      </if>
      <if test="lastModifiedBy != null" >
        last_modified_by,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="loginId != null" >
        #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="pwdExpiredDate != null" >
        #{pwdExpiredDate,jdbcType=TIMESTAMP},
      </if>
      <if test="disabled != null" >
        #{disabled,jdbcType=BIT},
      </if>
      <if test="locked != null" >
        #{locked,jdbcType=BIT},
      </if>
      <if test="defaultLocale != null" >
        #{defaultLocale,jdbcType=VARCHAR},
      </if>
      <if test="defaultTimezone != null" >
        #{defaultTimezone,jdbcType=VARCHAR},
      </if>
      <if test="systemic != null" >
        #{systemic,jdbcType=BIT},
      </if>
      <if test="personalInfoId != null" >
        #{personalInfoId,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createdDtm != null" >
        #{createdDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="lastModifiedDtm != null" >
        #{lastModifiedDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedBy != null" >
        #{lastModifiedBy,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  
  <insert databaseId="oracle" id="insertSelective" parameterType="com.logic.system.domain.User" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT s_system_user.NextVal FROM DUAL
    </selectKey> 
    insert into system_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
        id,
      <if test="loginId != null" >
        login_id,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="pwdExpiredDate != null" >
        pwd_expired_date,
      </if>
      <if test="disabled != null" >
        disabled,
      </if>
      <if test="locked != null" >
        locked,
      </if>
      <if test="defaultLocale != null" >
        default_locale,
      </if>
      <if test="defaultTimezone != null" >
        DEFAULT_TIMEZONE,
      </if>
      <if test="systemic != null" >
        systemic,
      </if>
      <if test="personalInfoId != null" >
        personal_info_id,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="createdDtm != null" >
        created_dtm,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastModifiedDtm != null" >
        last_modified_dtm,
      </if>
      <if test="lastModifiedBy != null" >
        last_modified_by,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{id,jdbcType=INTEGER},
      <if test="loginId != null" >
        #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="pwdExpiredDate != null" >
        #{pwdExpiredDate,jdbcType=TIMESTAMP},
      </if>
      <if test="disabled != null" >
        #{disabled,jdbcType=BIT},
      </if>
      <if test="locked != null" >
        #{locked,jdbcType=BIT},
      </if>
      <if test="defaultLocale != null" >
        #{defaultLocale,jdbcType=VARCHAR},
      </if>
      <if test="defaultTimezone != null" >
        #{defaultTimezone,jdbcType=VARCHAR},
      </if>
      <if test="systemic != null" >
        #{systemic,jdbcType=BIT},
      </if>
      <if test="personalInfoId != null" >
        #{personalInfoId,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createdDtm != null" >
        #{createdDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=INTEGER},
      </if>
      <if test="lastModifiedDtm != null" >
        #{lastModifiedDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedBy != null" >
        #{lastModifiedBy,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.logic.system.domain.User" >
    update system_user
    <set >
      <if test="loginId != null" >
        login_id = #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="pwdExpiredDate != null" >
        pwd_expired_date =  #{pwdExpiredDate,jdbcType=TIMESTAMP},
      </if>
      <if test="disabled != null" >
        disabled = #{disabled,jdbcType=BIT},
      </if>
      <if test="locked != null" >
        locked = #{locked,jdbcType=BIT},
      </if>
      <if test="defaultLocale != null" >
        default_locale = #{defaultLocale,jdbcType=VARCHAR},
      </if>
      <if test="defaultTimezone != null" >
        DEFAULT_TIMEZONE = #{defaultTimezone,jdbcType=VARCHAR},
      </if>
      <if test="systemic != null" >
        systemic = #{systemic,jdbcType=BIT},
      </if>
      <if test="personalInfoId != null" >
        personal_info_id = #{personalInfoId,jdbcType=INTEGER},
      </if>
      version = version+1,
      <if test="lastModifiedDtm != null" >
        last_modified_dtm = #{lastModifiedDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedBy != null" >
        last_modified_by = #{lastModifiedBy,jdbcType=INTEGER},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateSecurityId" parameterType="com.logic.system.domain.User" >
    update system_user
    <set >
      <if test="securityId != null" >
        security_id = #{securityId,jdbcType=INTEGER},
      </if>
      version = version+1,
      <if test="lastModifiedDtm != null" >
        last_modified_dtm = #{lastModifiedDtm,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedBy != null" >
        last_modified_by = #{lastModifiedBy,jdbcType=INTEGER}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <delete id="deleteByPrimaryKey" parameterType="com.logic.system.domain.User" >
    update 
    system_user 
    set 
    deleted = 1,
    version = version+1,
    last_modified_dtm = #{lastModifiedDtm,jdbcType=TIMESTAMP},
    last_modified_by = #{lastModifiedBy,jdbcType=INTEGER}
    where 
    id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert databaseId="oracle" id="insertUserRoles" parameterType="java.util.List">
  	insert into system_user_role ( user_id, role_id )
  	values
  	<foreach collection="list" item="item" index="index" separator="," >
  	(#{item.userId}, #{item.roleId} )
  	</foreach>
  </insert>

  <insert databaseId="mysql" id="insertUserRoles" parameterType="java.util.List">
    insert into system_user_role ( user_id, role_id )

    <foreach collection="list" item="item" index="index" separator="union all" >
      SELECT
      #{item.userId, jdbcType=INTEGER}, #{item.roleId, jdbcType=INTEGER}
      FROM DUAL
    </foreach>
  </insert>
  
  <delete id="deleteUserRoles" parameterType="java.lang.Integer">  
    delete from system_user_role
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>

  <insert id="insertUserOrgSelective" parameterType="com.logic.system.domain.UserOrg" >
    insert into system_org_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <delete id="deleteUserOrgByUserId" parameterType="java.lang.Integer" >
    delete from system_org_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>

</mapper>
